<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mənim Şəxsi Səhifəm</title>
</head>

<body>

 <h1>Mənim Portfoliyam</h1>
 <section>

 <h2>Haqqımda</h2>
 <p>Adım[Adınız].Veb inkişaf sahəsində[təcrübə müddətiniz ]illik təcrübəyə sahibəm.[Qısa şəxsi məlumat və maraqlarınız].</p>
 </section>
 <section>
 <h2>Təhsil</h2>
 <ul>
 <li>[Universitetin adı]-[Dərəcə]([İllər])</li>
 <li>[Məktəbin adı]-[Dərəcə]([İllər])</li>
 </ul>
 </section>
 <section>
 <h2>İş Təcrübəsi</h2>
 </section>
 <section>
 <ul>
 <li>[İş yeri adı]-[Vəzifə]([İllər])</li>
 <li>[İş yeri adı]-[Vəzifə]([İllər])</li>
 </ul>
 </section>
 <section>
 <h2>Layihələr</h2>
 <ul>
 <li>Layihə adı:[Qısa təsvir]</li>
 <li>Layihə adı:[Qısa təsvir]</li>
 </ul>
 </section>
 <footer>
 <p>Əlaqə üçün email:[emailiniz@nümunə.com]</p>
 </footer>
</body>
</html>


